.detail-main{
    padding: 5rem 11vw;

    .feed-body-container {
        background: $background_white 0% 0% no-repeat padding-box;
        margin-bottom: 2rem;
        padding: 1.5rem;
    }

    .reply-container {
        .emphasize {
            font: normal normal bold 16px/25px SpoqaHanSans;
            color: $comento_color;
        }

        .reply {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            margin: 1rem 0;

            .user_name {
                font: normal normal normal 16px/25px SpoqaHanSans;
                color: $feed_info_color;
                border-bottom: 1px solid #E1E4E7;
                margin: 0;
                padding-bottom: 0.5rem;
            }
        }
    }
}


