@media screen and (max-width: 769px) {
    aside {
        display: none;
    }

    .feedContainer {
        width: 100%;
    }
    .filterbar {
        width: 100%;
    }
    .mainSection {
        width: 100%;
    }
    .detail-main {
        padding: 2rem;
    }
    .feed-body-container {
        border-top: 2px solid $comento_color;
        border-bottom: 2px solid $comento_color;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .reply {
        border-top: 1px solid #E1E4E7;
        border-bottom: 1px solid #E1E4E7;
        border-left: none;
        border-right: none;
        border-radius: 0;
        padding: 1.5rem 0;
    }
  }

@media screen and (min-width: 770px) {
    aside {
        display: block;
    }
    .feedContainer {
        width: 90%;
    }
    .filterbar {
        width: 90%;
    }
    .mainSection {
        width: 65%;
    }

    .feed-body-container {
        border: 2px solid $comento_color;
        border-radius: 5px;
    }

    .reply {
        border: 1px solid #E1E4E7;
        border-radius: 5px;
        padding: 1.5rem;
    }
}