$background_white: #FFFFFF;
$comento_color: #00C854;
$no_active: #ADB5BD;
$title_color: #282C30;
$contents_color: #495057;
$feed_info_color: #7E848A;


// --unnamed-color-ffffff: #FFFFFF;
// --unnamed-color-00c854: #00C854;
// --unnamed-color-495057: #495057;
// --unnamed-color-212529: #212529;
// --unnamed-color-f4f5f7: #F4F5F7;
// --unnamed-color-dee2e6: #DEE2E6;
// --unnamed-color-ff000033: #FF0000;
// --unnamed-color-fa5252: #FA5252;
// --unnamed-color-9ea5ab: #9EA5AB;